.mainWrapper {
    background-color: rgb(233, 198, 198);
    margin-top: 2rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

.newCommentCard {
    display: block;
    padding: 1rem;
    background-color: rgb(223, 204, 204);
}

.newCommentCard > input {
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 90%;
}

.newCommentCard > input:hover,
.newCommentCard > input:focus {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.newCommentCard > button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.2rem 1rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 2px;
}

.newCommentCard > button:active,
.newCommentCard > button:hover {
  background-color: #a50e48;
  border-color: #a50e48;
}

.commentTextarea {
    width: 100%;
    height: 11rem;
}

.commentContent {
    width: 100%;
    margin: 1rem;
    overflow-wrap: break-word;
}

.loading { 
    content: url('../../../assets/giphy.gif');
    height: 10rem;
}

.responseContainer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.email {
    font-weight: bold;
}

.reply {
    margin: .5rem;
}

.commentHr {
    border: 1px solid black;
    width: 100%;
}