.mainContainer{
    height: calc(100vh - 80px);
    display: flex;
}

.leftPanel {
    flex: 1.5;
    background-color: #fff;
}

.middlePanel {
    flex: 3;
    background-color: rgb(235, 220, 220);
    overflow-y: scroll;
    padding: 1rem;
    margin: 10px;
}

::-webkit-scrollbar-track{
    background-color: #dacbcb;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rightPanel {
    flex: 1;
    background-color: #fff;
}

.chaptersList {
    list-style: circle;
    margin: 1rem;
}

.chaptersList li{
    margin-left: -15px;
    margin-bottom: 6px;
    font-size: 20px;
    cursor: pointer;
}

.chaptersContainer {
    background-color: rgb(243, 237, 237);
    float: right;
    margin: 3rem;
    width: 20rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    padding: 15px;
}

.chaptersLabel {
    font-size: 28px;
    font-weight: bold;
}

.verticalSeparator {
    height: calc(100vh - 100px);
    border-left: 1px solid gray;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.verticalSeparatorR {
    height: calc(100vh - 100px);
    border-left: 1px solid gray;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chapterTitle {
    font-size: 3.5rem;
    font-weight: bold;
}

.chapterTitle2 {
    font-size: 34px;
    font-weight: bold;
    margin-left: 1rem;
}

.chapterContent {
    background-color: rgb(243, 237, 237);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    padding: 1rem;
    margin-top: 1rem;
}

.confirmButton {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.2rem 1rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 2px;
}

.confirmButton:hover,
.confirmButton:active {
  background-color: #a50e48;
  border-color: #a50e48;
}

.chaptersList li:hover,
.chaptersList li:active {
  color: #160505;
  font-weight: bold;
}

.contentInput {
    height: 25rem;
    width: 60rem;
    justify-content: space-evenly;
    display: flex;
}

.modal {
    position: fixed;
    z-index: 20;
}

.backdrop {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
}

.titlePanel {
    display: flex;
    justify-content: space-between;
}

.titlePanel > div {
    display: flex;
    flex-direction: column;
}

.modalButton {
    margin: .4rem;
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.2rem 1rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 2px;
    height: 2.5rem;
}

.modalButton:hover,
.modalButton:active {
  background-color: #a50e48;
  border-color: #a50e48;
}

.modalContainer {
    background-color: #fff;
    position: fixed;
    width: 40%;
    margin-top: 8rem;
    padding: 1rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
    background-color: rgb(196, 169, 169);
    min-height: 45rem;
    display: flex;
    flex-direction: column;
    position: inherit;
}

.modalContainer > button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.2rem 1rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 2px;
}

.modalContainer > button:active,
.modalContainer > button:hover {
  background-color: #a50e48;
  border-color: #a50e48;
}

.modalContainer > div {
    min-height: 16rem;
}

.miniFormWrapper {
    background-color: rgb(180, 146, 146);
    margin-bottom: 10px;
    padding: 1rem;
}

.subWrapper > input {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
}

.subWrapper > label {
    font-size: 1.2rem;
}

.miniFormWrapper > button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.2rem 1rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
    margin-right: 2px;
}

.subWrapper {
}

.comboWrapper {
    height: 16rem;
}

.currentSelectedCategories {
    position: absolute;
    width: 14rem;
    top: 18rem;
    right: 1rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.currentSelectedCategories > span {
    font-weight: bold;
    font-size: 1.2rem;
}