.UserProfileWrapper {
    height: calc(100vh - 80px);
    display: flex;
}

.leftPanel {
    flex: 1;
}

.centerPanel {
    flex: 3;
    background-color: rgb(235, 220, 220);
    overflow-y: scroll;
}

.rightPanel {
    flex: 1.86;
}

.userPanelHead {
    margin: 1rem;
    padding: 1rem;
    height: 12rem;
    background-color: rgb(189, 148, 148);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    display: flex;
}

.userCreatedCourses {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(189, 148, 148);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.optionsContainer {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(189, 148, 148);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    width: 22rem;
    height: calc(100vh - 7rem);
}

.cList {
    background-color: rgb(243, 214, 214);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6) inset;
    padding: 5px;
    min-height: 29rem;
}

.profilePicture {
    border-radius:50% 50% 50% 50%;
    background-color: #fff;
    width: 10rem;
    height: 10rem;
    background: url('../../../assets/niezle.PNG');
    background-size: 11.2rem;
    background-position: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6) inset;
    border: 1px solid black;
}

.otherInfo {
    background-color: rgb(243, 214, 214);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6) inset;
    width: 30rem;
    height: 7rem;
}

.infoContainer h2 {
    margin: 10px;
    font-size: 1.7rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    width: 30rem;
}

.otherInfo h2 {
    font-size: 1.3rem;
}

.pointsInfoC {
    width: 10rem;
    margin-left: 1rem;
}

.pointsInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6.46rem;
}

.pointsInfoC h2 {
    margin: 10px;
    font-size: 1.7rem;
    margin-left: 3rem;
}

.pointsInfo h2 {
    margin: 10px;
    font-size: 5rem;
}

.uphTitle {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
}

.optionsContainer hr {
    border-color: black;
}

.optionsContainer button {
    display: flex;
    margin: 10px;
    border-radius: 5px;
    font-weight: 500;
    width: 100px;
    height: 35px;
    border: none;
    align-items: center;
    cursor: pointer;

    font: inherit;
    background-color: #77002e;
    color: white;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
}

.optionsContainer button:hover,
.optionsContainer button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}

.history {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6) inset;
    background-color: rgb(224, 184, 184);
    padding: 1rem;
    overflow-y: scroll;
    max-height: 48rem;
}

.historyCard {
    display: flex;
    flex-direction: column;
}

.historyCard hr {
    width: 18rem;
}

.historyCard span {
    font-weight: bold;
}

.FollowListBarContainer {
    height: 4rem;
    background-color: rgb(189, 148, 148);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.FollowListBarContainer div {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 193, 193);
    margin: 0.3rem;
    padding: 0.1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);

}

.FollowListBarContainer > div > a {
    text-align: center;
    font-weight: bold;
}

.FollowListBarContainer > div > span {
    font-weight: bold;
    font-size: 1.2rem;
}

.FollowListBarContainer > div > span:hover {
    color: #77002e;
    cursor: pointer;
}

.listItem {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 193, 193);
    padding: 6px;
    margin: 0.6rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.infoContainer > h2 {
    text-transform: capitalize;
}