.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77002e;
    padding: 0 10%;
    position: sticky;
    top: 0;
    z-index: 5;
}

.logo > a {
    font-size: 2rem;
    font-weight: bold;
    color: #fcb8d2;
    text-decoration: none;
}

.linkBlank {
    font-size: 3rem;
}

.header ul {
    list-style: none;
    margin: 0px;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.header li {
    margin-left: 2rem;
}

.link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active {
    color: white;
}

.badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
}

.accountButtonWrapper {
    background-color: transparent;
    position: relative;
}

.dropdownMenu {
    position: absolute;
    padding: 10px;
    top: calc(100% + 10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    background-color: #eedddd;
}

.span:hover {
    cursor: pointer;
}

.profileButton {
    font-family: inherit;
    font-size: inherit;
    color: #fcb8d2;
    cursor: pointer;
    border: transparent;
    background: transparent;
    text-decoration: none;
    font-size: 1.5rem;
}
.profileButton:hover {
    color: white;
}
.accountButtonWrapper > .profileButton:focus {
    color: white;
}

.accountButtonWrapper > .profileButton:focus + .dropdownMenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdownMenu a:hover {
    color: rgb(156, 143, 143);
}

.dropdownMenu a {
    color: black;
}

.dropdownMenu hr {
    border: black;
}